{% extends 'base.html.twig' %}

{% block title %}Seja bem-vindo!{% endblock %}

{% block stylesheets %}
    <style>
        .slide-item {
            width: 100%;
            height: 300px;
            margin: 0 auto;
        }

        .card > .card-body {
            height: 150px;
        }

        .destaque-header {
            padding-top: 30px;
            text-align: center;
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block body %}
    {# Carrossel #}
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slide-item bg-secondary">
                    <div class="carousel-caption">
                        <h1>Seja bem-vindo à nossa loja!</h1>
                        <p style="margin-bottom: 50px;">
                            Ficamos felizes com a sua presença. Fique à vontade para navegar em nosso website.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slide-item bg-info">
                    <div class="carousel-caption">
                        <h1>5 anos de sucesso</h1>
                        <p style="margin-bottom: 50px;">
                            Sempre dispostos a lhe oferecer as melhores opções.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slide-item" style="background-color: #109060">
                    <div class="carousel-caption">
                        <h1>Fique de olho!</h1>
                        <p style="margin-bottom: 50px;">
                            Promoções podem surgir a qualquer momento.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Produtos em Destaque #}
    <div class="container" id="produtos-destaque" data-destaque-url="{{ path('get_destaque') }}" data-add-item="{{ path('page_add_item') }}">
        <div class="destaque-header text-dark">
            <h3><b>Produtos em Destaque</b></h3>
        </div>
        <div class="row" style="margin-top: 30px;">
            <produto
                v-for="item in produtos"
                v-bind:prod="item"
                v-bind:key="item.id"
            ></produto>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}