{% extends 'base.html.twig' %}

{% block title %}Carrinho de Compras{% endblock %}

{% block stylesheets %}
    <style>
        .page-header {
            padding-top: 30px;
            text-align: center;
            text-transform: uppercase;
        }

        .col-desc {
            width: 60%;
        }

        .col-outros {
            width: 13.3%
        }

        .valor-total {
            font-size: 1.75rem;
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container d-none" id="page-carrinho" data-get-carrinho="{{ path('page_get_carrinho') }}" data-set-carrinho="{{ path('page_set_carrinho') }}" v-cloak>
        <div class="page-header text-dark" style="margin-bottom: 30px;">
            <h3><b>Carrinho de Compras</b></h3>
        </div>
        <div id="carrinho" v-if="loaded && carrinho.qtdItens > 0">
            <div class="row">
                <div class="card text-dark" style="width: 100%">
                    <table class="table table-bordered" style="margin: 0; text-transform: uppercase;">
                        <thead>
                            <tr class="">
                                <th scope="col" class="col-desc text-center">Descrição</th>
                                <th scope="col" class="col-outros text-center">Quantidade</th>
                                <th scope="col" class="col-outros text-center">Unitário</th>
                                <th scope="col" class="col-outros text-center">Total</th>
                            <tr>
                        <thead>
                        <tbody>
                            <tr class="" v-for="item in carrinho.itens" style="height: 100px;">
                                <td class="col-desc align-middle">
                                    <div class="row">
                                        <div class="col-1 text-center">
                                            <button class="btn btn-danger btn-sm" data-toggle="tooltip" title="Excluir" @click="remover(item)"><i class="fas fa-times"></i></button>
                                        </div>
                                        <div class="col-11">
                                            ${item.descricao}$
                                        </div>
                                    </div>
                                </td>
                                <td class="col-outros align-middle text-center">
                                    <input class="text-center" type="number" min="1" max="10" v-model="item.qtd">
                                </td>
                                <td class="col-outros align-middle text-right">${formatar(item.valor)}$</td>
                                <td class="col-outros align-middle text-right">${formatar(item.valor * item.qtd)}$</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div v-else-if="loaded">
            <div class="row">
                <div class="col-12 border rounded text-dark text-center valor-total">
                    <b>Não há itens no carrinho</b>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mt-3 border rounded text-dark text-center valor-total">
                <b>Valor total:</b> ${valorTotal}$
            </div>
            <div class="col-3 mt-3" style="padding-right: 0">
                <button class="btn btn-primary btn-block btn-lg" @click="salvar"><i class="fas fa-save"></i> Salvar Itens</button>
            </div>
            <div class="col-3 mt-3" style="padding-right: 0">
                <a href="{{ path('page_checkout') }}" class="btn btn-success btn-block btn-lg" :class="carrinho.qtdItens == 0 ? 'disabled' : ''" @click="salvar(false)"><i class="fas fa-clipboard-check"></i> Finalizar Pedido</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/carrinho.js') }}"></script>
{% endblock %}