<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>E-Commerce - {% block title %}{% endblock %}</title>
        {# Bootstrap #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        {# Icones Font Awesome #}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="base-navbar">
            <span class="navbar-brand mb-0 h1 font-weight-bold"><i class="fas fa-shopping-bag"></i> E-COMMERCE</span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page_produtos') }}">Produtos</a>
                    </li>
                </ul>
                <a href="{{ path('page_carrinho') }}" class="btn btn-light my-2 my-sm-0"><i class="fas fa-shopping-cart"></i> Carrinho <span class="badge badge-dark" id="qtd-itens-carrinho">{{app.session.get('qtdItens')}}</span></a>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {# VueJS #}
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        {# JQuery #}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {# Popper - Necessario para o Bootstrap #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        {# Bootstrap #}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        {# SweetAlert #}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
