{% extends 'base.html.twig' %}

{% block title %}Finalizar Pedido{% endblock %}

{% block stylesheets %}
    <style>
        .page-header {
            padding-top: 30px;
            text-align: center;
            text-transform: uppercase;
        }

        .col-desc {
            width: 60%;
        }

        .col-outros {
            width: 13.3%
        }

        .valor-total {
            font-size: 1.75rem;
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container" id="page-checkout">
        <div class="page-header text-dark" style="margin-bottom: 30px;">
            <h3><b>Finalização do Pedido</b></h3>
        </div>
        {# Carrinho #}
        <div class="row">
            <div class="card text-dark" style="width: 100%">
                <table class="table table-bordered" style="margin: 0; text-transform: uppercase;">
                    <thead>
                        <tr class="">
                            <th scope="col" class="col-desc text-center">Descrição</th>
                            <th scope="col" class="col-outros text-center">Quantidade</th>
                            <th scope="col" class="col-outros text-center">Unitário</th>
                            <th scope="col" class="col-outros text-center">Total</th>
                        <tr>
                    <thead>
                    <tbody>
                        {% set total = 0 %}
                        {% for item in carrinho.itens %}
                        <tr style="height: 100px;">
                            <td class="col-desc align-middle">{{ item.descricao }}</td>
                            <td class="col-outros align-middle text-center">{{ item.qtd }}</td>
                            <td class="col-outros align-middle text-right">R$ {{ item.valor | number_format(2, ',', '.') }}</td>
                            {% set total = total + (item.valor * item.qtd) %}
                            <td class="col-outros align-middle text-right">R$ {{ (item.valor * item.qtd) | number_format(2, ',', '.') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 mt-3 pr-2 border rounded text-dark text-center valor-total">
                <b>Valor total: </b>R$ {{ total | number_format(2, ',', '.') }}
            </div>
            <div class="col-6 mt-3 pl-2 border rounded text-dark text-center valor-total">
                <b>Quantidade de Produtos:</b> {{ carrinho.itens | length }}
            </div>
        </div>
        {# Form Destinatário #}
        <div class="page-header text-dark" style="margin-bottom: 30px;">
            <h5><b>Informações do Destinatário</b></h5>
        </div>
        <form
            @submit="enviarPedido"
            action="{{ path('page_resumo') }}"
            method="post"
        >
        <div class="form-group row">
            <div class="col-8 pl-0">
                <label for="pedido-nome">Nome</label>  <small class="text-danger"><i class="fas fa-xs fa-asterisk"></i></small>
                <input type="text" maxlength="100" class="form-control" id="pedido-nome" placeholder="Nome" v-model="pedido.nome">
                <small v-if="!valido.nome" class="text-danger">Favor preencher o nome</small>
            </div>
            <div class="col-4 px-0">
                <label for="pedido-nome">Telefone</label>
                <the-mask class="form-control" id="pedido-telefone" :mask="['(##) ####-####', '(##) #####-####']" v-model="pedido.telefone"></the-mask>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 pl-0">
                <label for="pedido-cep">CEP</label> <small class="text-danger"><i class="fas fa-xs fa-asterisk"></i></small>
                <the-mask class="form-control" :mask="['##.###-###']" @blur.native="buscaCEP" placeholder="CEP" v-model="pedido.cep"></the-mask>
                <small v-if="!valido.cep" class="text-danger">Favor preencher o CEP</small>
            </div>
            <div class="col-8 pl-0">
                <label for="pedido-end">Endereço</label>
                <input type="text" maxlength="100" class="form-control" id="pedido-end" placeholder="Endereço" v-model="pedido.endereco">
            </div>
            <div class="col-2 px-0">
                <label for="pedido-numero">Número</label>
                <input type="text" maxlength="10" class="form-control" id="pedido-num" placeholder="Número" v-model="pedido.numero">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 pl-0">
                <label for="pedido-bairro">Bairro</label>
                <input type="text" maxlength="100" class="form-control" id="pedido-bairro" placeholder="Bairro" v-model="pedido.bairro">
            </div>
            <div class="col-6 pl-0">
                <label for="pedido-cidade">Cidade</label>
                <input type="text" maxlength="100" class="form-control" id="pedido-cidade" placeholder="Cidade" v-model="pedido.cidade">
            </div>
            <div class="col-2 px-0">
                <label for="pedido-uf">UF</label>
                <input type="text" maxlength="2" class="form-control" id="pedido-uf" placeholder="UF" style="text-transform: uppercase;" v-model="pedido.uf">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6 pl-0">
                <label for="pedido-email">E-mail</label> <small class="text-danger"><i class="fas fa-xs fa-asterisk"></i></small>
                <input type="email" maxlength="100" class="form-control" id="pedido-email" placeholder="E-mail" v-model="pedido.email">
                <small v-if="!valido.email" class="text-danger">Favor preencher um endereço de e-mail válido</small>
            </div>
            <div class="col-6 px-0">
                <label for="pedido-pagamento">Forma de Pagamento</label>
                <select class="form-control" id="pedido-pagamento" v-model="pedido.formapgto">
                    <option value="D">Dinheiro</option>
                    <option value="B">Depósito Bancário</option>
                    <option value="C">Cartão</option>
                </select>
            </div>
        </div>
        <div class="form-group row my-4">
            <div class="col-6 pl-0 pr-3" style="padding-right: 0">
                <a href="{{ path('page_carrinho') }}" class="btn btn-danger btn-block btn-lg"><i class="fas fa-arrow-left"></i> Voltar ao Carrinho</a>
            </div>
            <div class="col-6 pl-0" style="padding-right: 0">
                <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fas fa-check"></i> Enviar Pedido</button>
            </div>
        </div>
        <input type="hidden" name="dados-pedido" id="dados-pedido">
        </form>
    </div>
{% endblock %}

{% block javascript %}
    {# Vue The-Mask #}
    <script src="https://cdn.jsdelivr.net/npm/vue-the-mask@0.11.1/dist/vue-the-mask.min.js"></script>
    <script src="{{ asset('js/checkout.js') }}"></script>
{% endblock %} 