<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
{# Definindo atributos para CSS Inlining para o corpo do e-mail #}
{% set text_center = 'text-align: center;' %}
{% set text_right = 'text-align: right;' %}
{% set text_justify = 'text-align: justify;' %}
{% set text_uppercase = 'text-transform: uppercase;' %}
{% set border = 'border: 1px solid; border-radius: .25rem !important;' %}
{% set th_td_border = 'border: 1px solid; padding: 10px;' %}
{% set border_top = 'border-top: 1px solid;' %}
{% set row = 'display: flex; flex-wrap: wrap; padding: 0 10px 0 10px; height: 40px; align-items: center !important;' %}
{% set table = 'width: 100%; border-collapse: collapse; border-style: hidden;' %}
{% set col_3 = 'width: 25%;' %}
{% set col_4 = 'width: 33.3333%;' %}
{% set col_5 = 'width: 41.6667%;' %}
{% set col_8 = 'width: 66.6667%;' %}
{% set tw_60 = 'width: 60%;' %}
{% set tw_13 = 'width: 13.3333%;' %}
    <body style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";'>
        <h1 style="{{text_center}}"><b>Obrigado pela sua compra!</b></h1>

        <p style="{{text_justify}}">Olá, {{ pedido.nome }}. Agradecemos por sua compra em nossa loja! Logo processaremos seu pedido e esperamos que faça bom proveito dos itens adquiridos.</p>
        <p style="{{text_justify}}">Para sua conveniência, relembramos as informações do pedido feito. Seu pedido é o número {{ pedido.id }}.</p>

        <h4 style="{{text_center}}{{text_uppercase}}"><b>Informações do Destinatário</b></h4>

        <div style="{{border}}">
            <div style="{{row}}">
                <div style="{{col_8}}">
                    <b>Nome:</b> {{ pedido.nome }}
                </div>
                <div style="{{col_4}}">
                    <b>Telefone:</b> {{ pedido.telefone }}
                </div>
            </div>
            <div style="{{row}}{{border_top}}">
                <div style="{{col_3}}">
                    <b>CEP:</b> {{ pedido.cep }}
                </div>
                <div style="{{col_5}}">
                    <b>Endereço:</b> {{ pedido.endereco }}
                </div>
                <div style="{{col_4}}">
                    <b>Número:</b> {{ pedido.numero }}
                </div>
            </div>
            <div style="{{row}}{{border_top}}">
                <div style="{{col_3}}">
                    <b>Bairro:</b> {{ pedido.bairro }}
                </div>
                <div style="{{col_5}}">
                    <b>Cidade:</b> {{ pedido.cidade }}
                </div>
                <div style="{{col_4}}">
                    <b>UF:</b> {{ pedido.uf }}
                </div>
            </div>
            <div style="{{row}}{{border_top}}">
                <div style="{{col_8}}">
                    <b>E-mail:</b> {{ pedido.email }}
                </div>
                <div style="{{col_4}}">
                    <b>Forma de Pagamento:</b>
                    {% if pedido.formapgto == 'D' %}
                        Dinheiro
                    {% elseif pedido.formapgto == 'B' %}
                        Depósito Bancário
                    {% else %}
                        Cartão
                    {% endif %}
                </div>
            </div>
        </div>

        <h4 style="{{text_center}}{{text_uppercase}}"><b>Itens do Pedido</b></h4>
    
        <div style="{{border}}">
            <table style="{{table}}{{text_uppercase}}">
                <thead>
                    <tr>
                        <th style="{{th_td_border}}{{tw_60}}">Descrição</th>
                        <th style="{{th_td_border}}{{tw_13}}">Quantidade</th>
                        <th style="{{th_td_border}}{{tw_13}}">Unitário</th>
                        <th style="{{th_td_border}}{{tw_13}}">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = 0 %}
                    {% for item in carrinho.itens %}
                    <tr style="height: 40px;">
                        <td style="{{th_td_border}}{{tw_60}}">{{ item.descricao }}</td>
                        <td style="{{th_td_border}}{{tw_13}}{{text_center}}">{{ item.qtd }}</td>
                        <td style="{{th_td_border}}{{tw_13}}{{text_right}}">R$ {{ item.valor | number_format(2, ',', '.') }}</td>
                        {% set total = total + (item.valor * item.qtd) %}
                        <td style="{{th_td_border}}{{tw_13}}{{text_right}}">R$ {{ (item.valor * item.qtd) | number_format(2, ',', '.') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div style="{{border}}; font-size: 1.5rem;">
            <div style="{{row}}">
                <div style="width: 50%;{{text_center}}">
                    <b>Valor Total:</b> R$ {{ total | number_format(2, ',', '.') }}
                </div>
                <div style="width: 50%;{{text_center}}">
                    <b>Quantidade de Produtos:</b> {{ carrinho.itens | length }}
                </div>
            </div>
        </div>
    </body>
</html>