{% extends 'base.html.twig' %}

{% block title %}Resumo do Pedido #{{ pedido.id }}{% endblock %}

{% block stylesheets %}
    <style>
        .page-header {
            padding-top: 30px;
            text-align: center;
            text-transform: uppercase;
        }

        .col-desc {
            width: 60%;
        }

        .col-outros {
            width: 13.3%
        }

        .valor-total {
            font-size: 1.75rem;
            text-transform: uppercase;
        }

        .informacoes > .row {
            height: 40px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container" id="page-resumo">
        <div class="page-header text-dark" style="margin-bottom: 30px;">
            <h3><b>Pedido #{{ pedido.id }} concluído!</b></h3>
        </div>
        <div class="text-dark text-center">
            Seu pedido foi enviado e será processado de acordo com as informações abaixo. Uma cópia delas foi enviada a {{ pedido.email }}. Obrigado pela preferência!
        </div>
        {# Informacoes Destinatario #}
        <div class="page-header text-dark" style="margin-bottom: 30px;">
            <h5><b>Informações do Destinatário</b></h5>
        </div>
        <div class="container border rounded informacoes">
            <div class="row align-items-center">
                <div class="col-8">
                    <b>Nome:</b> {{ pedido.nome }}
                </div>
                <div class="col-4">
                    <b>Telefone:</b> {{ pedido.telefone }}
                </div>
            </div>
            <div class="row align-items-center border-top">
                <div class="col-3">
                    <b>CEP:</b> {{ pedido.cep }}
                </div>
                <div class="col-5">
                    <b>Endereço:</b> {{ pedido.endereco }}
                </div>
                <div class="col-4">
                    <b>Número:</b> {{ pedido.numero }}
                </div>
            </div>
            <div class="row align-items-center border-top">
                <div class="col-3">
                    <b>Bairro:</b> {{ pedido.bairro }}
                </div>
                <div class="col-5">
                    <b>Cidade:</b> {{ pedido.cidade }}
                </div>
                <div class="col-4">
                    <b>UF:</b> {{ pedido.uf }}
                </div>
            </div>
            <div class="row align-items-center border-top">
                <div class="col-8">
                    <b>E-mail:</b> {{ pedido.email }}
                </div>
                <div class="col-4">
                    <b>Forma de Pagamento:</b>
                    {% if pedido.formapgto == 'D' %}
                        Dinheiro
                    {% elseif pedido.formaPgto == 'B' %}
                        Depósito Bancário
                    {% else %}
                        Cartão
                    {% endif %}
                </div>
            </div>
        </div>
        {# Itens #}
        <div class="page-header text-dark" style="margin-bottom: 30px;">
            <h5><b>Itens do Pedido</b></h5>
        </div>
        <div class="container px-0">
            <div class="card text-dark" style="width: 100%">
                <table class="table table-bordered" style="margin: 0; text-transform: uppercase;">
                    <thead>
                        <tr>
                            <th scope="col" class="col-desc text-center">Descrição</th>
                            <th scope="col" class="col-outros text-center">Quantidade</th>
                            <th scope="col" class="col-outros text-center">Unitário</th>
                            <th scope="col" class="col-outros text-center">Total</th>
                        <tr>
                    <thead>
                    <tbody>
                        {% set total = 0 %}
                        {% for item in carrinho.itens %}
                        <tr style="height: 100px;">
                            <td class="col-desc align-middle">{{ item.descricao }}</td>
                            <td class="col-outros align-middle text-center">{{ item.qtd }}</td>
                            <td class="col-outros align-middle text-right">R$ {{ item.valor | number_format(2, ',', '.') }}</td>
                            {% set total = total + (item.valor * item.qtd) %}
                            <td class="col-outros align-middle text-right">R$ {{ (item.valor * item.qtd) | number_format(2, ',', '.') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div class="row mb-3">
                <div class="col-6 mt-3 pr-2 border rounded text-dark text-center valor-total">
                    <b>Valor total: </b>R$ {{ total | number_format(2, ',', '.') }}
                </div>
                <div class="col-6 mt-3 pl-2 border rounded text-dark text-center valor-total">
                    <b>Quantidade de Produtos:</b> {{ carrinho.itens | length }}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-6 pl-0 pr-3 mb-3" style="padding-right: 0">
                <a href="{{ path('home') }}" class="btn btn-primary btn-block btn-lg">Voltar ao Início</a>
            </div>
        </div>
    </div>
{% endblock %}