{% extends 'base.html.twig' %}

{% block title %}Produtos{% endblock %}

{% block stylesheets %}
    <style>
        .page-header {
            padding-top: 30px;
            text-align: center;
            text-transform: uppercase;
        }

        .card > .card-body {
            height: 200px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container" id="page-produtos" data-add-item="{{ path('page_add_item') }}">
        <div class="page-header text-dark">
            <h3><b>Produtos</b></h3>
        </div>
        <div class="row" style="margin-top: 30px;">
            {% for item in itens %}
                <produto
                    v-bind:prod="{{ item | json_encode() }}"
                    v-bind:key="{{item.id}}"
                ></produto>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/produtos.js') }}"></script>
{% endblock %} 